
#imgMain {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
#star-img-main {
    padding: 50px 0;
}
#image-count {
    font-family: SFPRODISPLAYBOLD !important;
}
#star-img-main #images-wrapper {
    padding-top: 50px;
}
/* Main image container */
#image-main {
    width: 100%;
    height: auto;
    user-select: none;
    padding: 0px 30px;
    padding-bottom: 20px;
    overflow: auto;
}

/* Images wrapper grid */
#images-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 15px;
    overflow: auto;
    padding: 0 30px;
}

/* Card styles */
#images-wrapper #card {
    max-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Square box container */
#images-wrapper #card #squire-box {
    height: 200px;
    aspect-ratio: 1;
    
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#images-wrapper #card #squire-box:hover{
    background-color: rgba(240, 240, 240, 0.418);
} 
/* Image inside square box */
#images-wrapper #card #squire-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 15px; */
}

/* Tags container */
#images-wrapper #card .tags {
    width: 100%;
}

/* Options for square box */
#squire-box-options {
    position: absolute;
    background: rgba(197, 197, 197, 0.397);
    padding: 4px 8px;
    bottom: 4px;
    right: 4px;
    display: none;
    border-radius: 7px;
}

/* Transition effect for options */
#options:hover #squire-box-options {
    display: block;
}

/* Responsive styles */
@media only screen and (max-width: 375px) {
    /* Hide scrollbar */
    #image-main::-webkit-scrollbar {
        width: 0px;
    }

    /* Adjust padding for smaller screens */
    #image-main {
        padding: 50px 00px;
    }

    /* Adjust grid for smaller screens */
    #images-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 0 20px;
    }

    /* Adjust card size for smaller screens */
    #images-wrapper #card {
        max-width: 160px;
        height: 160px;
    }

    /* Adjust square box height for smaller screens */
    #images-wrapper #card #squire-box {
        height: 155px;
    }
}
