

@font-face {
    font-family: SFPRODISPLAYMEDIUM;
    src: url(../../../fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url(../../../fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url(../../../fonts/SFPRODISPLAYREGULAR.OTF);
}
.fontMedium {
    font-family: SFPRODISPLAYMEDIUM;
    color: rgb(146, 146, 146);
    padding-right: 10px;
}
.fontReg {
    font-family: SFPRODISPLAYREGULAR;
    color: rgb(32, 32, 32);
}
#bio-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
#bio-page .profile {
    min-width: 300px;
    height: 100vh;
    /* object-fit: cover; */
    background-color: aqua;
}
#bio-page .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bio-page .bio {
    text-transform: capitalize;
    min-width: 200px;
    max-width: 500px;
    padding: 20px;
    padding-bottom: 50px;
    
}
#bio-page .bio .title {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 30px 0 50px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6c47ff;
}
#bio-page .bio .bio-texts {
    font-size: 15px;
    line-height: 25px;
}
.active-status {
    background-color: #32CD32 ;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.retire-status {
    background-color: #fdbe0f;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.died-status {
    background-color: #FF0000;
    color: white;
    padding: 5px;
    border-radius: 5px;
}




.bio-texts div {
    margin-bottom: 5px;
}
#albums_page {
    width: 100%;
    background: #32CD32;
    position: static;
}

@media only screen and (max-width: 600px) {
    #bio-page .bio {
        padding-top: 0;
    }
    #bio-page .bio .title {
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
        padding: 30px 0 50px 0;
        font-family: SFPRODISPLAYMEDIUM;
        color: #000;
    }
  }