#getAlbum {
  width: 100%;
}
#getAlbum #wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
  gap: 10px;
}
#getAlbum #wrapper .album-container {
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .album-container:nth-child(even) {
    transition-delay: 0.1s;
  }
  
  .album-container:nth-child(odd) {
    transition-delay: 0.2s;
  }
  
  .w-full.flex.gap-3.py-10.flex-wrap .album-container {
    opacity: 1;
    transform: translateY(0);
  }
  @media only screen and (max-width: 375px) {
  #getAlbum #wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
