#navbar {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navbar #logo {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar #search_fields {
    padding: 0 20px;
    border-bottom: 1px solid black;
}

#navbar #search_fields .search-toggle-icon {
    display: none;
}

#navbar #search_fields .search-inpt {
    display: none; /* Hidden by default */
    position: relative;
    width: 300px; /* Adjust width as needed */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
}

#navbar #search_fields input {
    outline: none;
    background: none;
    width: calc(100% - 30px); /* Adjust width to fit the container */
}

#navbar #search_fields .suggestion {
    position: absolute;
    width: 100%;
    background-color: rgb(240, 240, 240);
    z-index: 15;
    max-height: 300px;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    #navbar #search_fields {
        border: none;
    }
    #navbar #search_fields .search-toggle-icon {
        display: block;
    }
    #navbar #search_fields .search-inpt {
        display: block; /* Show on small screens */
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 15;
    }
}

/* Ensure search input is visible when isSearchVisible is true */
#navbar #search_fields .search-inpt.show {
    display: block;
}
