.title {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 50px;
}
.title-input {
    width: 100%;
    max-width: 500px;
}
.ant-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.ant-form-item {
    min-height: 200px;
}
.ant-form-item:first-child {
    min-height: 10px;
}
form label {
    width: 100%;
}
form>div {
    width: 100%;
    height: fit-content;
    margin: 10px 0;
}
form>div>label {
    margin-bottom: 20px;
}
div.ant-upload {
    width: 100%;
    /* max-width: 500px; */
}
.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .uploaded-image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .uploaded-image {
    max-width: 100px;
    max-height: 100px;
  }
  
  .uploaded-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .uploaded-image-ok {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 24px;
  }
  
  .delete-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    font-size: 18px;
  }
.ant-upload-list-item, .ant-upload-list-item-undefined {
    display: none;
}  