
.measurement-inpt {
    padding: 5px 0 10px 0;
    display: flex !important;
    width: auto;
    gap: 20px;
    width: 100%;
}
.lbl-inpt-wrap {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
}
.lbl-inpt-wrap label {
    padding: 25px 0 10px 0px;
}
.multiple-wrapper {
    display: flex !important;
}
.measurement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.bust {
    width: 60px;
}
.cup {
    width: 70px !important;
}
.hip {
    width: 60px !important;
}
.chest {
    width: 60px;
}



@media only screen and (max-width: 375px) {
    .measurement-inpt {
      max-width: 375px;
    }
  }

