@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

* {
    font-family: SFPRODISPLAYREGULAR, sans-serif;
}
html {
    scroll-behavior: smooth
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    background-color: #fffafa;
} */
/* Custom scrollbar width for WebKit (Chrome, Safari, etc.) */
/* Custom scrollbar width for WebKit (Chrome, Safari, etc.) */
html::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    margin: 5px; /* Margin around the scrollbar */
}

html::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

html::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
    padding: 5px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}


/* For Firefox */
/* Note: Mozilla Firefox does not support styling of scrollbar width and track directly with CSS as of the latest standard. However, you can use scrollbar-color and scrollbar-width properties which are supported in Firefox 64 and later. */
/* Color of the scrollbar thumb */
* {
    scrollbar-color: #b3b3b3 #f1f1f1;
}

/* Width of the scrollbar thumb */
* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    
}

.fancybox__backdrop,.fancybox__container{
    
    background-color: #ffffff !important;
}
#fancybox__caption_1_0 {
    color: black !important;
}
.loader {
    width: 70px;
    aspect-ratio: 1;
    background:
      radial-gradient(farthest-side,#ffa516 90%,#0000) center/16px 16px,
      radial-gradient(farthest-side,green   90%,#0000) bottom/12px 12px;
    background-repeat: no-repeat;
    animation: l17 1s infinite linear;
    position: relative;
  }
  .loader::before {    
    content:"";
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    inset: auto 0 16px;
    margin: auto;
    background: #ccc;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 10px);
    animation: inherit;
    animation-duration: 0.5s;
  }
  @keyframes l17 { 
    100%{transform: rotate(1turn)}
  }

/* HTML: <div class="loader"></div> */
.loader {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%,
    var(--c) 70%  0    /50% 100%,
    var(--c) 0    100% /36% 68%,
    var(--c) 27%  18%  /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}
